openapi: 3.0.0
info:
    title: INGV HYP2000 Web Services
    x-summary: The hyp2000 web service bla bla bla
    x-logo: http://webservices.ingv.it/ingv_logo_text_two_lines.png

    # Based on http://uuid.xyzio.com/uuid
    x-api-id: fa78e2be-826e-4451-8979-0a0dfd598dff
    description: |-

      # Introduction
      Hypoinverse is software used to Locate earthquakes and determine magnitudes in a local or regional seismic network.
      
      More info, here: [https://www.usgs.gov/software/hypoinverse-earthquake-location](https://www.usgs.gov/software/hypoinverse-earthquake-location)
      
      At INGV we build stand-alone Docker to deploy "hyp2000" ([https://github.com/ingv/hyp2000](https://github.com/ingv/hyp2000)) and on top of this docker was build a Web Service.

      # Input
      The input file is a JSON with four sections: 
        - **HYP2000_CONF**: HYPOINVERS configuration file (refer to manual for more details)
        - **MODEL**: Crustal velocity model
        - **OUTPUT**: It could be `json`, `prt`, `arc`, `sum`
        - **TYPE_HYP2000ARC**: An array of phases in **ew2openapi** format.
      
      # Output
      The output could be `json`, `prt`, `arc` or `sum`:
        - `prt`: print format
        - `arc`: archive format
        - `sum`: summary format
        - `json`: NON STANDARD json format developed in **ew2openapi**
      
      # Rate limit:
        The **Rate Limit** and **Rate Reset** are specified in the HTTP-header with `X-RateLimit-Limit` and `X-RateLimit-Reset`; the rate limit is *per* `IP`.

    contact:
        name: 'INGV'
        url: http://terremoti.ingv.it/webservices_and_software
        email: valentino.lauciani@ingv.it
    license:
        name: Creative Commons Attribution 4.0 International
        url: http://creativecommons.org/licenses/by/4.0/
    version: 2.0.0
    #x-lifecycle:
    #  maturity: FIXME
x-commons:
    common_responses: &common_responses
        '400':
            $ref: '#/components/responses/400BadRequest'
        '404':
            $ref: '#/components/responses/404NotFound'
        '429':
            $ref: '#/components/responses/429TooManyRequests'
        '503':
            $ref: '#/components/responses/503ServiceUnavailable'
paths:
    /v1/hyp2000/:
        post:
            summary: Hypoinverse 2000
            description: Send new input to HYP2000 WS
            requestBody:
                description: JSON to send
                required: true
                content:
                  application/json:
                    schema:
                        properties:
                          data:
                            properties:
                                TYPE_HYP2000ARC:
                                    allOf:
                                        - properties:
                                            quakeId:
                                                $ref: 'https://ingv.github.io/openapi/definitions.yaml#/schemas/event__id_locator'
                                            version:
                                                $ref: 'https://ingv.github.io/openapi/definitions.yaml#/schemas/type_hypocenter__name'
                                            phases:
                                                $ref: 'https://ingv.github.io/openapi/definitions.yaml#/schemas/hyp2000arc__phases'
                                HYP2000_CONF:
                                    example:
                                        - 200 T 2000 0
                                        - LET 5 2 3 2 2
                                        - H71 1 1 3
                                        - STA './all_stations.hinv'
                                        - CRH 1 './italy.crh'
                                        - MAG 1 T 3 1
                                        - 'DUR -.81 2.22 0 .0011 0, 5*0, 9999 1'
                                        - FC1 'D' 2 'HHZ' 'EHZ'
                                        - 'PRE 7, 3 0 4 9, 5 6 4 9, 1 1 0 9, 2 1 0 9, 4 4 4 9, 3 0 0 9, 4 0 0 9'
                                        - RMS 4 .40 2 4
                                        - ERR .10
                                        - POS 1.78
                                        - REP T T
                                        - JUN T
                                        - MIN 4
                                        - NET 4
                                        - ZTR 5 T
                                        - DIS 6 100 1. 7.
                                        - DAM 7 30 0.5 0.9 0.005 0.02 0.6 100 500
                                        - WET 1. .75 .5 .25
                                        - ERF T
                                        - TOP F
                                        - LST 1 1 0
                                        - KPR 2
                                        - COP 5
                                        - CAR 3
                                        - PRT '../output/hypo.prt'
                                        - SUM '../output/hypo.sum'
                                        - ARC '../output/hypo.arc'
                                        - APP F T F
                                        - CON 25 0.04 0.001
                                        - PHS './input.arc'
                                        - LOC
                                OUTPUT:
                                    example:
                                        - json
                                MODEL:
                                    example:
                                        - Italy
                                        - 5.00  0.00
                                        - 6.00 10.00
                                        - 8.10 30.00
            tags:
                - hyp2000
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: 'https://ingv.github.io/openapi/definitions.yaml#/schemas/hyp2000arc'
                '404':
                    $ref: '#/components/responses/404NotFound'
servers:
    - url: https://webservices.ingv.it/api/v1/hyp2000
      description: Production
components:
    headers:
        X-RateLimit-Limit:
            $ref: 'https://teamdigitale.github.io/openapi/master/definitions.yaml#/headers/X-RateLimit-Limit'
        #X-RateLimit-Remaining:
        #    $ref: 'https://teamdigitale.github.io/openapi/master/definitions.yaml#/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
            $ref: 'https://teamdigitale.github.io/openapi/master/definitions.yaml#/headers/X-RateLimit-Reset'
        Retry-After:
            $ref: 'https://teamdigitale.github.io/openapi/master/definitions.yaml#/headers/Retry-After'
    responses:
        204NoContent:
          description: Request was properly formatted and submitted but no data matches the selection
          headers:
            X-RateLimit-Limit:
                $ref: '#/components/headers/X-RateLimit-Limit'
            #X-RateLimit-Remaining:
            #    $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
                $ref: '#/components/headers/X-RateLimit-Reset'
        400BadRequest:
            $ref: 'https://teamdigitale.github.io/openapi/master/definitions.yaml#/responses/400BadRequest'
        404NotFound:
            $ref: 'https://teamdigitale.github.io/openapi/master/definitions.yaml#/responses/404NotFound'
        429TooManyRequests:
            #$ref: 'https://teamdigitale.github.io/openapi/master/definitions.yaml#/responses/429TooManyRequests'
            description: Too many requests
            headers:
              X-RateLimit-Limit:
                  $ref: '#/components/headers/X-RateLimit-Limit'
              #X-RateLimit-Remaining:
              #    $ref: '#/components/headers/X-RateLimit-Remaining'
              X-RateLimit-Reset:
                  $ref: '#/components/headers/X-RateLimit-Reset'
        503ServiceUnavailable:
            $ref: 'https://teamdigitale.github.io/openapi/master/definitions.yaml#/responses/503ServiceUnavailable'
        default:
            $ref: 'https://teamdigitale.github.io/openapi/master/definitions.yaml#/responses/default'
