openapi: 3.0.0
info:
  contact:
    email: valentino.lauciani@ingv.it
    name: INGV
    url: http://terremoti.ingv.it/webservices_and_software
  description: "\n\nThe **fdsnws-event** API returns event (earthquake) information\
    \ from the catalogs [ISIDe](http://iside.rm.ingv.it/).\n\nThe results are returnd\
    \ as XML in [QuakeML](https://quake.ethz.ch/quakeml) format ([schema](https://quake.ethz.ch/quakeml/docs/xml?action=AttachFile&do=get&target=QuakeML-BED-1.2.xsd)),\
    \ but may also be requested in text formats.\n\n\n# Query Usage\n\n\nTo retrieve\
    \ data from the event service, submit a request by either of the methods below:\n\
    \n  - _via HTTP GET_: Provide a series of parameter-value pairs in the URL that\
    \ specify the start-time and end-time, along with the desired network(s) and others\
    \ param(s). Please refer to the table below titled \"Detailed Descriptions of\
    \ each Query Parameter\" for usage details. Each parameter-value pair should be\
    \ separated by an ampersand **&**, and with no space. A GET request may take the\
    \ following general form:\n\n```\n\n/query? [geographic-constraints] [depth-constraints]\
    \ [temporal-constraints] [magnitude-constraints] [format-option]\n\n```\n\n\n\
    or\n\n```\n\n/query? (id-options) [includeallmagnitudes] [includeallorigins] [includearrivals]\
    \ [includeallstationsmagnitudes] [format-option]\n\n```\n\n\nwhere\n\n```\n\n\
    id-options              ::  eventid= OR originid= OR magnitudeid= OR focalmechanismid=\n\
    \ngeographic-constraints  ::  [boundaries-rect] OR [boundaries-radial]\n\nboundaries-rect\
    \         ::  [minlat=] [maxlat=] [minlon=] [maxlon=]\n\nboundaries-radial   \
    \    ::  [lat=&lon=&(maxradius= | maxradiuskm=)] [minradius= | minradiuskm=]\n\
    \ndepth-constraints       ::  [mindepth=] [maxdepth=]\n\ntemporal-constraints\
    \    ::  [starttime=] [endtime=]\n\nmagnitude-constraints   ::  [minmag=] [maxmag=]\
    \ [magnitudetype=]\n\nmisc-parameters         ::  [limit=] [offset=] [orderby=]\
    \ [includeallmagnitude=]\n                            [includearrivals=] [includeallorigins=]\
    \ [includeallstationsmagnitudes=]\nformat-option           ::  [format=]\n\n\n\
    \  (..) required parameter\n  [..] optional parameter\n```\n\n\n# Sample Queries:\n\
    \  - [http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59](http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59)\n\
    \  - [http://webservices.ingv.it/fdsnws/event/1/query?starttime=2010-05-29T00:00:00&endtime=2012-05-29T23:59:58&limit=10&offset=2](http://webservices.ingv.it/fdsnws/event/1/query?starttime=2010-05-29T00:00:00&endtime=2012-05-29T23:59:58&limit=10&offset=2)\n\
    \  - [http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59&format=text](http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59&format=text)\
    \ (text format)\n  - [http://webservices.ingv.it/fdsnws/event/1/query?eventId=841091&includeallmagnitudes=true&includeallorigins=true&includearrivals=true&includeallstationsmagnitudes=true](http://webservices.ingv.it/fdsnws/event/1/query?eventId=841091&includeallmagnitudes=true&includeallorigins=true&includearrivals=true&includeallstationsmagnitudes=true)\n\
    \n\n Find out more about FDSN Web Service Specifications http://www.fdsn.org/webservices/\n\
    \ \n# Rate limit:\n  The **Rate Limit** and **Rate Reset** are specified in the\
    \ HTTP-header with `X-RateLimit-Limit` and `X-RateLimit-Reset`; the rate limit\
    \ is *per* `IP`.\n  "
  license:
    name: Creative Commons Attribution 4.0 International
    url: http://creativecommons.org/licenses/by/4.0/
  title: INGV HYP2000 Web Services
  version: 2.0.0
  x-api-id: fa78e2be-826e-4451-8979-0a0dfd598dff
  x-logo: http://webservices.ingv.it/ingv_logo_text_two_lines.png
  x-summary: The hyp2000 web service bla bla bla
servers:
- description: Production
  url: https://webservices.ingv.it/fdsnws/event/1
tags:
- description: ''
  externalDocs:
    description: Find out more
    url: https://quake.ethz.ch/quakeml/
  name: fdsnws-event-1.1
paths:
  /application.wadl:
    get:
      description: Returns application.wadl file content
      responses:
        '200':
          content:
            application/xml:
              schema:
                additionalProperties:
                  format: int32
                  type: integer
                type: object
          description: Successful request, results follow
      summary: Get application.wadl
      tags:
      - fdsnws-event-1.1
  /query:
    get:
      description: Returns a QuakeML message with the following schema https://quake.ethz.ch/quakeml/
      parameters:
      - $ref: '#/components/parameters/starttime'
      - $ref: '#/components/parameters/endtime'
      - $ref: '#/components/parameters/minlat'
      - $ref: '#/components/parameters/maxlat'
      - $ref: '#/components/parameters/minlon'
      - $ref: '#/components/parameters/maxlon'
      - $ref: '#/components/parameters/lat'
      - $ref: '#/components/parameters/lon'
      - $ref: '#/components/parameters/minradius'
      - $ref: '#/components/parameters/maxradius'
      - $ref: '#/components/parameters/minradiuskm'
      - $ref: '#/components/parameters/maxradiuskm'
      - $ref: '#/components/parameters/mindepth'
      - $ref: '#/components/parameters/maxdepth'
      - $ref: '#/components/parameters/orderby'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/updatedafter'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/eventid'
      - $ref: '#/components/parameters/includeallorigins'
      - $ref: '#/components/parameters/includeallmagnitudes'
      - $ref: '#/components/parameters/includeallstationsmagnitudes'
      - $ref: '#/components/parameters/includearrivals'
      responses:
        '200':
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/QuakeMLResponse'
            text/plain:
              schema:
                $ref: '#/components/schemas/QuakeMLResponse'
          description: Successful request, results follow
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '204':
          $ref: '#/components/responses/204NoContent'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        default:
          $ref: '#/components/responses/default'
      summary: Get QuakeML
      tags:
      - fdsnws-event-1.1
  /v1/hyp2000/:
    post:
      description: Hypoinverse 2000 location using WS.
      parameters:
      - description: Input file
        in: body
        name: body
        required: true
        schema:
          properties:
            data:
              properties:
                HYP2000_CONF:
                  example:
                  - 200 T 2000 0
                  - LET 5 2 3 2 2
                  - H71 1 1 3
                  - STA './all_stations.hinv'
                  - CRH 1 './italy.crh'
                  - MAG 1 T 3 1
                  - DUR -.81 2.22 0 .0011 0, 5*0, 9999 1
                  - FC1 'D' 2 'HHZ' 'EHZ'
                  - PRE 7, 3 0 4 9, 5 6 4 9, 1 1 0 9, 2 1 0 9, 4 4 4 9, 3 0 0 9, 4
                    0 0 9
                  - RMS 4 .40 2 4
                  - ERR .10
                  - POS 1.78
                  - REP T T
                  - JUN T
                  - MIN 4
                  - NET 4
                  - ZTR 5 T
                  - DIS 6 100 1. 7.
                  - DAM 7 30 0.5 0.9 0.005 0.02 0.6 100 500
                  - WET 1. .75 .5 .25
                  - ERF T
                  - TOP F
                  - LST 1 1 0
                  - KPR 2
                  - COP 5
                  - CAR 3
                  - PRT '../output/hypo.prt'
                  - SUM '../output/hypo.sum'
                  - ARC '../output/hypo.arc'
                  - APP F T F
                  - CON 25 0.04 0.001
                  - PHS './input.arc'
                  - LOC
                MODEL:
                  example:
                  - Italy
                  - 5.00  0.00
                  - 6.00 10.00
                  - 8.10 30.00
                OUTPUT:
                  example:
                  - json
                TYPE_HYP2000ARC:
                  allOf:
                  - properties:
                      phases:
                        items:
                          properties:
                            Md:
                              description: Todo description | ???
                              format: double
                              type: number
                            Pat:
                              description: Origin time | datetime(6)
                              example: '2016-06-22 16:52:06.260000'
                              type: string
                            Pfm:
                              description: Todo description | ???
                              example: ' '
                              type: string
                            Plabel:
                              description: Todo description | ???
                              example: ' '
                              type: string
                            Ponset:
                              description: Todo description | ???
                              example: P
                              type: string
                            Pqual:
                              description: Todo description | ???
                              format: double
                              type: number
                            Pres:
                              description: Todo description | ???
                              format: double
                              type: number
                            Pwt:
                              description: Todo description | ???
                              format: double
                              type: number
                            Sat:
                              description: Origin time | datetime(6)
                              example: '2016-06-22 16:52:06.260000'
                              type: string
                            Sfm:
                              description: Todo description | ???
                              example: ' '
                              type: string
                            Slabel:
                              description: Todo description | ???
                              example: ' '
                              type: string
                            Sonset:
                              description: Todo description | ???
                              example: ' '
                              type: string
                            Squal:
                              description: Todo description | ???
                              format: double
                              type: number
                            Sres:
                              description: Todo description | ???
                              format: double
                              type: number
                            Swt:
                              description: Todo description | ???
                              format: double
                              type: number
                            ampMag:
                              description: Amplitude magnitude for this station |
                                col98 F3.2
                              format: float
                              type: number
                            ampMagWeightCode:
                              description: Amplitude magnitude weight code | col82
                                I1
                              type: integer
                            ampType:
                              description: Amplitude type 0=unspecified 1=Wood-Anderson
                                2=velocity 3=acceleration 4=no magnitude | col114
                                I2
                              type: integer
                            ampUnitsCode:
                              description: Amp units code. 0=PP mm, 1=0 to peak mm
                                (UCB), 2=digital counts | col62 I2
                              type: integer
                            amplitude:
                              description: Amplitude (Normally peak-to-peak) | col55
                                F7.2
                              format: float
                              type: number
                            azm:
                              description: Todo description | ???
                              format: double
                              type: number
                            caav:
                              items:
                                description: Todo description | ???
                                example:
                                - 0
                                - 0
                                - 0
                                - 0
                                - 0
                              type: array
                            ccntr:
                              items:
                                description: Todo description | ???
                                example:
                                - 0
                                - 0
                                - 0
                                - 0
                                - 0
                              type: array
                            codalen:
                              description: Todo description | ???
                              format: double
                              type: number
                            codalenObs:
                              description: Todo description | ???
                              format: double
                              type: number
                            codawt:
                              description: Todo description | ???
                              format: double
                              type: number
                            comp:
                              description: Channel code | char(3)
                              example: HHZ
                              type: string
                            datasrc:
                              description: Todo description | ???
                              example: W
                              type: string
                            dist:
                              description: Todo description | ???
                              format: double
                              type: number
                            importanceP:
                              description: Importance of P arrival | col101 F4.3
                              format: float
                              type: number
                            importanceS:
                              description: Importance of S arrival | col105 F4.3
                              format: float
                              type: number
                            loc:
                              default: --
                              description: Channel location | char(2)
                              example: '00'
                              type: string
                            net:
                              description: Channel net code | char(2)
                              example: IV
                              type: string
                            pamp:
                              description: Todo description | ???
                              format: double
                              type: number
                            sta:
                              description: Channel station code | varchar(5)
                              example: ACER
                              type: string
                            takeoff:
                              description: Todo description | ???
                              format: double
                              type: number
                          required:
                          - net
                          - sta
                          - comp
                          - loc
                        type: array
                      quakeId:
                        default: 0
                        description: Event id created by locator | bigint(20)
                        example: 182491
                        format: int64
                        type: integer
                      version:
                        description: Localization name (es:01,XX,WW,..) | varchar(255)
                        example: ew prelim
                        type: string
                    required: []
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/components/schemas/hyp2000arc'
      summary: Hypoinverse 2000
      tags:
      - hyp2000
  /version:
    get:
      description: Returns a string containing QuakeML version
      responses:
        '200':
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VersionResponse'
          description: Successful request, results follow
      summary: Get QuakeML version
      tags:
      - fdsnws-event-1.1
components:
  headers:
    Retry-After:
      description: |-
        Retry contacting the endpoint *at least* after seconds.
        See https://tools.ietf.org/html/rfc7231#section-7.1.3
      schema:
        format: int32
        type: integer
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period
      schema:
        format: int32
        type: integer
    X-RateLimit-Reset:
      description: The number of seconds left in the current period
      schema:
        format: int32
        type: integer
  parameters:
    endtime:
      description: Select date end. - [ **YYYY-MM-DDThh:mm:ss** | **YYYY-MM-DD** ]
        (ex. 2013-02-19T17:06:38)
      in: query
      name: endtime
      required: false
      schema:
        format: date-time
        type: string
    eventid:
      description: Retrieve an event based on the unique INGV event id.
      in: query
      name: eventid
      required: false
      schema:
        format: int64
        type: integer
    format:
      description: Specify output format.
      in: query
      name: format
      required: false
      schema:
        default: xml
        enum:
        - xml
        - text
        items:
          type: string
        type: string
    includeallmagnitudes:
      description: Is used to retrive all magnitudes associated with each event.
      in: query
      name: includeallmagnitudes
      required: false
      schema:
        default: false
        type: boolean
    includeallorigins:
      description: Is used to retrive all origins associated with each event.
      in: query
      name: includeallorigins
      required: false
      schema:
        default: false
        type: boolean
    includeallstationsmagnitudes:
      description: Is used to retrive all stations magnitudes associated with each
        hypocenter.
      in: query
      name: includeallstationsmagnitudes
      required: false
      schema:
        default: false
        type: boolean
    includearrivals:
      description: Is used to retrive any associated phase arrival information for
        each event.
      in: query
      name: includearrivals
      required: false
      schema:
        default: false
        type: boolean
    lat:
      description: Specify the central latitude point for a radial search (in WGS84).
      in: query
      name: lat
      required: false
      schema:
        $ref: '#/components/schemas/latitude'
    limit:
      description: Limit the results to the specified number of events.
      in: query
      name: limit
      required: false
      schema:
        format: int32
        type: integer
    lon:
      description: Specify the central longitude point for a radial search (in WGS84).
      in: query
      name: lon
      required: false
      schema:
        $ref: '#/components/schemas/longitude'
    maxdepth:
      description: Specify maximum depth (kilometers), values increase positively
        with depth.
      in: query
      name: maxdepth
      required: false
      schema:
        format: double
        type: number
    maxlat:
      description: Specify northern boundary for search (in WGS84).
      in: query
      name: maxlat
      required: false
      schema:
        $ref: '#/components/schemas/latitude'
    maxlon:
      description: Specify eastern boundary for search (in WGS84).
      in: query
      name: maxlon
      required: false
      schema:
        $ref: '#/components/schemas/longitude'
    maxradius:
      description: Specify maximum distance from the geographic point defined by latitude
        and longitude (in Degrees).
      in: query
      name: maxradius
      required: false
      schema:
        format: double
        type: number
    maxradiuskm:
      description: Specify maximum distance from the geographic point defined by latitude
        and longitude. Kilometers. **This is an INGV extension to the FDSN specification.**
      in: query
      name: maxradiuskm
      required: false
      schema:
        format: double
        type: number
    mindepth:
      description: Specify minimum depth (kilometers), values increase positively
        with depth.
      in: query
      name: mindepth
      required: false
      schema:
        format: double
        type: number
    minlat:
      description: Specify southern boundary for search (in WGS84).
      in: query
      name: minlat
      required: false
      schema:
        $ref: '#/components/schemas/latitude'
    minlon:
      description: Specify western boundary for search (in WGS84).
      in: query
      name: minlon
      required: false
      schema:
        $ref: '#/components/schemas/longitude'
    minradius:
      description: Specify minimum distance from the geographic point defined by latitude
        and longitude (in Degrees).
      in: query
      name: minradius
      required: false
      schema:
        format: double
        type: number
    minradiuskm:
      description: Specify minimum distance from the geographic point defined by latitude
        and longitude. Kilometers. **This is an INGV extension to the FDSN specification.**
      in: query
      name: minradiuskm
      required: false
      schema:
        format: double
        type: number
    offset:
      description: Return results starting at the event count specified.
      in: query
      name: offset
      required: false
      schema:
        format: int32
        type: number
    orderby:
      description: Is used to order the output.
      in: query
      name: orderby
      required: false
      schema:
        default: time
        enum:
        - time
        - time-asc
        - magnitude
        - magnitude-asc
        items:
          type: string
        type: string
    starttime:
      description: Select date start. - [ **YYYY-MM-DDThh:mm:ss** | **YYYY-MM-DD**
        ] (ex. 2013-02-18T15:06:38)
      in: query
      name: starttime
      required: false
      schema:
        format: date-time
        type: string
    updatedafter:
      description: Limit to events updated after the specified time (useful for synchronizing
        events).
      in: query
      name: updatedafter
      required: false
      schema:
        format: date-time
        type: string
  responses:
    204NoContent:
      description: Request was properly formatted and submitted but no data matches
        the selection
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
    400BadRequest:
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request
    404NotFound:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Not Found
    429TooManyRequests:
      description: Too many requests
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
    503ServiceUnavailable:
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Service Unavailable
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
    default:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Unexpected error
  schemas:
    ErrorResponse:
      example: 'Error CODE: SIMPLE ERROR DESCRIPTION ...'
      type: string
    Problem:
      properties:
        detail:
          description: |
            A human readable explanation specific to this occurrence of the
            problem. You MUST NOT expose internal informations, personal
            data or implementation details through this field.
          example: Request took too long to complete.
          type: string
        instance:
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
          format: uri
          type: string
        status:
          description: |
            The HTTP status code generated by the origin server for this occurrence
            of the problem.
          example: 503
          exclusiveMaximum: true
          format: int32
          maximum: 600
          minimum: 100
          type: integer
        title:
          description: |
            A short, summary of the problem type. Written in english and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized); example: Service Unavailable
          type: string
        type:
          default: about:blank
          description: |
            An absolute URI that identifies the problem type.  When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          example: https://tools.ietf.org/html/rfc7231#section-6.6.4
          format: uri
          type: string
      type: object
    QuakeMLResponse:
      xml:
        namespace: https://quake.ethz.ch/quakeml/
    VersionResponse:
      example: 1.1.50
      type: string
    cha:
      description: Channel code | char(3)
      example: HHZ
      type: string
    depth:
      description: Depth in Km | double
      example: 0.02
      format: double
      type: number
    event__id_locator:
      default: 0
      description: Event id created by locator | bigint(20)
      example: 182491
      format: int64
      type: integer
    ewLogo:
      properties:
        ewLogo:
          properties:
            hostname:
              description: Hostname | ???
              example: hew3.int.ingv.it
              type: string
            installation:
              description: Installation description | ???
              example: INST_INGV
              type: string
            instance:
              description: Instance description | ???
              example: hew3_mole
              type: string
            module:
              description: Module description | ???
              example: MOD_BINDER_EW
              type: string
            type:
              description: Type description | ???
              example: TYPE_QUAKE2K
              type: string
            user:
              description: Hostname user | ???
              example: ew
              type: string
          required:
          - type
          - module
          - installation
          - instance
    hyp2000arc:
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/ewLogo'
          - $ref: '#/components/schemas/hyp2000arc__base'
    hyp2000arc__base:
      properties:
        ewMessage:
          properties:
            Md:
              description: Md description | ???
              format: double
              type: number
            Mpref:
              description: Mpref description | ???
              format: double
              type: number
            depth:
              $ref: '#/components/schemas/depth'
            dmin:
              description: dmin description | ???
              format: double
              type: number
            e0:
              $ref: '#/components/schemas/hypocenter__e0'
            e0az:
              $ref: '#/components/schemas/hypocenter__e0_az'
            e0dp:
              $ref: '#/components/schemas/hypocenter__e0_dip'
            e1:
              $ref: '#/components/schemas/hypocenter__e1'
            e1az:
              $ref: '#/components/schemas/hypocenter__e1_az'
            e1dp:
              $ref: '#/components/schemas/hypocenter__e1_dip'
            e2:
              $ref: '#/components/schemas/hypocenter__e2'
            erh:
              $ref: '#/components/schemas/hypocenter__err_h'
            erz:
              $ref: '#/components/schemas/hypocenter__err_z'
            gap:
              $ref: '#/components/schemas/hypocenter__azim_gap'
            ingvQuality:
              description: ingvQuality description | ???
              example: DD
              type: string
            labelpref:
              description: ingvQuality description | ???
              example: ' '
              type: string
            latitude:
              $ref: '#/components/schemas/latitude'
            longitude:
              $ref: '#/components/schemas/longitude'
            mdmad:
              description: mdmad description | ???
              format: double
              type: number
            mdtype:
              description: ingvQuality description | ???
              example: D
              type: string
            mdwt:
              description: mdwt description | ???
              format: double
              type: number
            nPfm:
              $ref: '#/components/schemas/hypocenter__nph_fm'
            nph:
              $ref: '#/components/schemas/hypocenter__nph'
            nphS:
              $ref: '#/components/schemas/hypocenter__nph_s'
            nphtot:
              $ref: '#/components/schemas/hypocenter__nph_tot'
            originTime:
              $ref: '#/components/schemas/hypocenter__ot'
            phases:
              $ref: '#/components/schemas/hyp2000arc__phases'
            quakeId:
              $ref: '#/components/schemas/event__id_locator'
            reg:
              description: ingvQuality description | ???
              example: ' '
              type: string
            rms:
              $ref: '#/components/schemas/hypocenter__rms'
            version:
              $ref: '#/components/schemas/type_hypocenter__name'
            wtpref:
              description: wtpref description | ???
              format: double
              type: number
          required:
          - quakeId
          - version
          - originTime
          - latitude
          - longitude
          - depth
    hyp2000arc__phases:
      items:
        properties:
          Md:
            description: Todo description | ???
            format: double
            type: number
          Pat:
            $ref: '#/components/schemas/hypocenter__ot'
          Pfm:
            description: Todo description | ???
            example: ' '
            type: string
          Plabel:
            description: Todo description | ???
            example: ' '
            type: string
          Ponset:
            description: Todo description | ???
            example: P
            type: string
          Pqual:
            description: Todo description | ???
            format: double
            type: number
          Pres:
            description: Todo description | ???
            format: double
            type: number
          Pwt:
            description: Todo description | ???
            format: double
            type: number
          Sat:
            $ref: '#/components/schemas/hypocenter__ot'
          Sfm:
            description: Todo description | ???
            example: ' '
            type: string
          Slabel:
            description: Todo description | ???
            example: ' '
            type: string
          Sonset:
            description: Todo description | ???
            example: ' '
            type: string
          Squal:
            description: Todo description | ???
            format: double
            type: number
          Sres:
            description: Todo description | ???
            format: double
            type: number
          Swt:
            description: Todo description | ???
            format: double
            type: number
          ampMag:
            description: Amplitude magnitude for this station | col98 F3.2
            format: float
            type: number
          ampMagWeightCode:
            description: Amplitude magnitude weight code | col82 I1
            type: integer
          ampType:
            description: Amplitude type 0=unspecified 1=Wood-Anderson 2=velocity 3=acceleration
              4=no magnitude | col114 I2
            type: integer
          ampUnitsCode:
            description: Amp units code. 0=PP mm, 1=0 to peak mm (UCB), 2=digital
              counts | col62 I2
            type: integer
          amplitude:
            description: Amplitude (Normally peak-to-peak) | col55 F7.2
            format: float
            type: number
          azm:
            description: Todo description | ???
            format: double
            type: number
          caav:
            items:
              description: Todo description | ???
              example:
              - 0
              - 0
              - 0
              - 0
              - 0
            type: array
          ccntr:
            items:
              description: Todo description | ???
              example:
              - 0
              - 0
              - 0
              - 0
              - 0
            type: array
          codalen:
            description: Todo description | ???
            format: double
            type: number
          codalenObs:
            description: Todo description | ???
            format: double
            type: number
          codawt:
            description: Todo description | ???
            format: double
            type: number
          comp:
            $ref: '#/components/schemas/cha'
          datasrc:
            description: Todo description | ???
            example: W
            type: string
          dist:
            description: Todo description | ???
            format: double
            type: number
          importanceP:
            description: Importance of P arrival | col101 F4.3
            format: float
            type: number
          importanceS:
            description: Importance of S arrival | col105 F4.3
            format: float
            type: number
          loc:
            $ref: '#/components/schemas/loc'
          net:
            $ref: '#/components/schemas/net'
          pamp:
            description: Todo description | ???
            format: double
            type: number
          sta:
            $ref: '#/components/schemas/sta'
          takeoff:
            description: Todo description | ???
            format: double
            type: number
        required:
        - net
        - sta
        - comp
        - loc
      type: array
    hypocenter__azim_gap:
      description: Azimutal gap | double
      format: double
      type: number
    hypocenter__e0:
      description: magnitude (km) of largest principal error | double
      format: double
      type: number
    hypocenter__e0_az:
      description: azimuth of largest principal error | double
      format: double
      type: integer
    hypocenter__e0_dip:
      description: dip of largest principal error | double
      format: double
      type: integer
    hypocenter__e1:
      description: magnitude (km) of intermed principal error | double
      format: double
      type: number
    hypocenter__e1_az:
      description: azimuth of intermediate principal error | double
      format: double
      type: integer
    hypocenter__e1_dip:
      description: dip of intermediate principal error | double
      format: double
      type: integer
    hypocenter__e2:
      description: magnitude (km) of smallest principal error | double
      format: double
      type: number
    hypocenter__err_h:
      description: Depth error | double
      format: double
      type: number
    hypocenter__err_z:
      description: Depth error | double
      format: double
      type: number
    hypocenter__nph:
      description: '# phases (P&S) weight >0.1 | int(11)'
      format: int64
      type: integer
    hypocenter__nph_fm:
      description: '# P first motions | int(11)'
      format: int64
      type: integer
    hypocenter__nph_s:
      description: '# S phases weight >0.1 | int(11)'
      format: int64
      type: integer
    hypocenter__nph_tot:
      description: '# phases (P&S) weight >0.0 | int(11)'
      format: int64
      type: integer
    hypocenter__ot:
      description: Origin time | datetime(6)
      example: '2016-06-22 16:52:06.260000'
      type: string
    hypocenter__rms:
      description: Root mean square | double
      format: double
      type: number
    latitude:
      format: double
      type: number
    loc:
      default: --
      description: Channel location | char(2)
      example: '00'
      type: string
    longitude:
      format: double
      type: number
    net:
      description: Channel net code | char(2)
      example: IV
      type: string
    sta:
      description: Channel station code | varchar(5)
      example: ACER
      type: string
    type_hypocenter__name:
      description: Localization name (es:01,XX,WW,..) | varchar(255)
      example: ew prelim
      type: string
