openapi: 3.0.0
info:
  contact:
    email: valentino.lauciani@ingv.it
    name: INGV
    url: http://terremoti.ingv.it/webservices_and_software
  description: |2-


    The **fdsnws-event** API returns event (earthquake) information from the catalogs [ISIDe](http://iside.rm.ingv.it/).

    The results are returnd as XML in [QuakeML](https://quake.ethz.ch/quakeml) format ([schema](https://quake.ethz.ch/quakeml/docs/xml?action=AttachFile&do=get&target=QuakeML-BED-1.2.xsd)), but may also be requested in text formats.


    # Query Usage


    To retrieve data from the event service, submit a request by either of the methods below:

      - _via HTTP GET_: Provide a series of parameter-value pairs in the URL that specify the start-time and end-time, along with the desired network(s) and others param(s). Please refer to the table below titled "Detailed Descriptions of each Query Parameter" for usage details. Each parameter-value pair should be separated by an ampersand **&**, and with no space. A GET request may take the following general form:

    ```

    /query? [geographic-constraints] [depth-constraints] [temporal-constraints] [magnitude-constraints] [format-option]

    ```


    or

    ```

    /query? (id-options) [includeallmagnitudes] [includeallorigins] [includearrivals] [includeallstationsmagnitudes] [format-option]

    ```


    where

    ```

    id-options              ::  eventid= OR originid= OR magnitudeid= OR focalmechanismid=

    geographic-constraints  ::  [boundaries-rect] OR [boundaries-radial]

    boundaries-rect         ::  [minlat=] [maxlat=] [minlon=] [maxlon=]

    boundaries-radial       ::  [lat=&lon=&(maxradius= | maxradiuskm=)] [minradius= | minradiuskm=]

    depth-constraints       ::  [mindepth=] [maxdepth=]

    temporal-constraints    ::  [starttime=] [endtime=]

    magnitude-constraints   ::  [minmag=] [maxmag=] [magnitudetype=]

    misc-parameters         ::  [limit=] [offset=] [orderby=] [includeallmagnitude=]
                                [includearrivals=] [includeallorigins=] [includeallstationsmagnitudes=]
    format-option           ::  [format=]


      (..) required parameter
      [..] optional parameter
    ```


    # Sample Queries:
      - [http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59](http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59)
      - [http://webservices.ingv.it/fdsnws/event/1/query?starttime=2010-05-29T00:00:00&endtime=2012-05-29T23:59:58&limit=10&offset=2](http://webservices.ingv.it/fdsnws/event/1/query?starttime=2010-05-29T00:00:00&endtime=2012-05-29T23:59:58&limit=10&offset=2)
      - [http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59&format=text](http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59&format=text) (text format)
      - [http://webservices.ingv.it/fdsnws/event/1/query?eventId=841091&includeallmagnitudes=true&includeallorigins=true&includearrivals=true&includeallstationsmagnitudes=true](http://webservices.ingv.it/fdsnws/event/1/query?eventId=841091&includeallmagnitudes=true&includeallorigins=true&includearrivals=true&includeallstationsmagnitudes=true)


     Find out more about FDSN Web Service Specifications http://www.fdsn.org/webservices/

    # Rate limit:
      The **Rate Limit** and **Rate Reset** are specified in the HTTP-header with `X-RateLimit-Limit` and `X-RateLimit-Reset`; the rate limit is *per* `IP`.
  license:
    name: Creative Commons Attribution 4.0 International
    url: http://creativecommons.org/licenses/by/4.0/
  title: INGV HYP2000 Web Services
  version: 2.0.0
  x-api-id: fa78e2be-826e-4451-8979-0a0dfd598dff
  x-logo: http://webservices.ingv.it/ingv_logo_text_two_lines.png
  x-summary: The hyp2000 web service bla bla bla
servers:
- description: Production
  url: https://webservices.ingv.it/fdsnws/event/1
tags:
- description: ''
  externalDocs:
    description: Find out more
    url: https://quake.ethz.ch/quakeml/
  name: fdsnws-event-1.1
paths:
  /v1/hyp2000/:
    post:
      description: Hypoinverse 2000 location using WS.
      parameters:
      - description: Input file
        in: body
        name: body
        required: true
        schema:
          properties:
            data:
              properties:
                HYP2000_CONF:
                  example:
                  - 200 T 2000 0
                  - LET 5 2 3 2 2
                  - H71 1 1 3
                  - STA './all_stations.hinv'
                  - CRH 1 './italy.crh'
                  - MAG 1 T 3 1
                  - DUR -.81 2.22 0 .0011 0, 5*0, 9999 1
                  - FC1 'D' 2 'HHZ' 'EHZ'
                  - PRE 7, 3 0 4 9, 5 6 4 9, 1 1 0 9, 2 1 0 9, 4 4 4 9, 3 0 0 9, 4
                    0 0 9
                  - RMS 4 .40 2 4
                  - ERR .10
                  - POS 1.78
                  - REP T T
                  - JUN T
                  - MIN 4
                  - NET 4
                  - ZTR 5 T
                  - DIS 6 100 1. 7.
                  - DAM 7 30 0.5 0.9 0.005 0.02 0.6 100 500
                  - WET 1. .75 .5 .25
                  - ERF T
                  - TOP F
                  - LST 1 1 0
                  - KPR 2
                  - COP 5
                  - CAR 3
                  - PRT '../output/hypo.prt'
                  - SUM '../output/hypo.sum'
                  - ARC '../output/hypo.arc'
                  - APP F T F
                  - CON 25 0.04 0.001
                  - PHS './input.arc'
                  - LOC
                MODEL:
                  example:
                  - Italy
                  - 5.00  0.00
                  - 6.00 10.00
                  - 8.10 30.00
                OUTPUT:
                  example:
                  - json
                TYPE_HYP2000ARC:
                  allOf:
                  - properties:
                      phases:
                        $ref: '#/components/schemas/hyp2000arc__phases'
                      quakeId:
                        $ref: '#/components/schemas/event__id_locator'
                      version:
                        $ref: '#/components/schemas/type_hypocenter__name'
                    required: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hyp2000arc'
          description: successful operation
        '404':
          $ref: '#/components/responses/404NotFound'
      summary: Hypoinverse 2000
      tags:
      - hyp2000
components:
  headers:
    Retry-After:
      description: |-
        Retry contacting the endpoint *at least* after seconds.
        See https://tools.ietf.org/html/rfc7231#section-7.1.3
      schema:
        format: int32
        type: integer
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period
      schema:
        format: int32
        type: integer
    X-RateLimit-Reset:
      description: The number of seconds left in the current period
      schema:
        format: int32
        type: integer
  parameters:
    format:
      description: Specify output format.
      in: query
      name: format
      required: false
      schema:
        default: xml
        enum:
        - xml
        - text
        items:
          type: string
        type: string
    orderby:
      description: Is used to order the output.
      in: query
      name: orderby
      required: false
      schema:
        default: time
        enum:
        - time
        - time-asc
        - magnitude
        - magnitude-asc
        items:
          type: string
        type: string
  responses:
    204NoContent:
      description: Request was properly formatted and submitted but no data matches
        the selection
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
    400BadRequest:
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad Request
    404NotFound:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Not Found
    429TooManyRequests:
      description: Too many requests
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
    503ServiceUnavailable:
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Service Unavailable
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
    default:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
      description: Unexpected error
  schemas:
    ErrorResponse:
      example: 'Error CODE: SIMPLE ERROR DESCRIPTION ...'
      type: string
    Latitude:
      description: |-
        Latitude of a point expressed in:

        * the ETRS89 system for Italian and European territories
        * and in WGS84 for the others.
      example: 45.492599
      externalDocs:
        url: http://dati.gov.it/onto/clvapit#long
      format: double
      maximum: 90
      minimum: -90
      type: number
    Problem:
      properties:
        detail:
          description: |
            A human readable explanation specific to this occurrence of the
            problem. You MUST NOT expose internal informations, personal
            data or implementation details through this field.
          example: Request took too long to complete.
          type: string
        instance:
          description: |
            An absolute URI that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.
          format: uri
          type: string
        status:
          description: |
            The HTTP status code generated by the origin server for this occurrence
            of the problem.
          example: 503
          exclusiveMaximum: true
          format: int32
          maximum: 600
          minimum: 100
          type: integer
        title:
          description: |
            A short, summary of the problem type. Written in english and readable
            for engineers (usually not suited for non technical stakeholders and
            not localized); example: Service Unavailable
          type: string
        type:
          default: about:blank
          description: |
            An absolute URI that identifies the problem type.  When dereferenced,
            it SHOULD provide human-readable documentation for the problem type
            (e.g., using HTML).
          example: https://tools.ietf.org/html/rfc7231#section-6.6.4
          format: uri
          type: string
      type: object
    QuakeMLResponse:
      xml:
        namespace: https://quake.ethz.ch/quakeml/
    VersionResponse:
      example: 1.1.50
      type: string
    cha:
      description: Channel code | char(3)
      example: HHZ
      type: string
    depth:
      description: Depth in Km | double
      example: 0.02
      format: double
      type: number
    event__id_locator:
      default: 0
      description: Event id created by locator | bigint(20)
      example: 182491
      format: int64
      type: integer
    ewLogo:
      properties:
        ewLogo:
          properties:
            hostname:
              description: Hostname | ???
              example: hew3.int.ingv.it
              type: string
            installation:
              description: Installation description | ???
              example: INST_INGV
              type: string
            instance:
              description: Instance description | ???
              example: hew3_mole
              type: string
            module:
              description: Module description | ???
              example: MOD_BINDER_EW
              type: string
            type:
              description: Type description | ???
              example: TYPE_QUAKE2K
              type: string
            user:
              description: Hostname user | ???
              example: ew
              type: string
          required:
          - type
          - module
          - installation
          - instance
    hyp2000arc:
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/ewLogo'
          - $ref: '#/components/schemas/hyp2000arc__base'
    hyp2000arc__base:
      properties:
        ewMessage:
          properties:
            Md:
              description: Md description | ???
              format: double
              type: number
            Mpref:
              description: Mpref description | ???
              format: double
              type: number
            depth:
              $ref: '#/components/schemas/depth'
            dmin:
              description: dmin description | ???
              format: double
              type: number
            e0:
              $ref: '#/components/schemas/hypocenter__e0'
            e0az:
              $ref: '#/components/schemas/hypocenter__e0_az'
            e0dp:
              $ref: '#/components/schemas/hypocenter__e0_dip'
            e1:
              $ref: '#/components/schemas/hypocenter__e1'
            e1az:
              $ref: '#/components/schemas/hypocenter__e1_az'
            e1dp:
              $ref: '#/components/schemas/hypocenter__e1_dip'
            e2:
              $ref: '#/components/schemas/hypocenter__e2'
            erh:
              $ref: '#/components/schemas/hypocenter__err_h'
            erz:
              $ref: '#/components/schemas/hypocenter__err_z'
            gap:
              $ref: '#/components/schemas/hypocenter__azim_gap'
            ingvQuality:
              description: ingvQuality description | ???
              example: DD
              type: string
            labelpref:
              description: ingvQuality description | ???
              example: ' '
              type: string
            latitude:
              $ref: '#/components/schemas/latitude'
            longitude:
              $ref: '#/components/schemas/longitude'
            mdmad:
              description: mdmad description | ???
              format: double
              type: number
            mdtype:
              description: ingvQuality description | ???
              example: D
              type: string
            mdwt:
              description: mdwt description | ???
              format: double
              type: number
            nPfm:
              $ref: '#/components/schemas/hypocenter__nph_fm'
            nph:
              $ref: '#/components/schemas/hypocenter__nph'
            nphS:
              $ref: '#/components/schemas/hypocenter__nph_s'
            nphtot:
              $ref: '#/components/schemas/hypocenter__nph_tot'
            originTime:
              $ref: '#/components/schemas/hypocenter__ot'
            phases:
              $ref: '#/components/schemas/hyp2000arc__phases'
            quakeId:
              $ref: '#/components/schemas/event__id_locator'
            reg:
              description: ingvQuality description | ???
              example: ' '
              type: string
            rms:
              $ref: '#/components/schemas/hypocenter__rms'
            version:
              $ref: '#/components/schemas/type_hypocenter__name'
            wtpref:
              description: wtpref description | ???
              format: double
              type: number
          required:
          - quakeId
          - version
          - originTime
          - latitude
          - longitude
          - depth
    hyp2000arc__phases:
      items:
        properties:
          Md:
            description: Todo description | ???
            format: double
            type: number
          Pat:
            $ref: '#/components/schemas/hypocenter__ot'
          Pfm:
            description: Todo description | ???
            example: ' '
            type: string
          Plabel:
            description: Todo description | ???
            example: ' '
            type: string
          Ponset:
            description: Todo description | ???
            example: P
            type: string
          Pqual:
            description: Todo description | ???
            format: double
            type: number
          Pres:
            description: Todo description | ???
            format: double
            type: number
          Pwt:
            description: Todo description | ???
            format: double
            type: number
          Sat:
            $ref: '#/components/schemas/hypocenter__ot'
          Sfm:
            description: Todo description | ???
            example: ' '
            type: string
          Slabel:
            description: Todo description | ???
            example: ' '
            type: string
          Sonset:
            description: Todo description | ???
            example: ' '
            type: string
          Squal:
            description: Todo description | ???
            format: double
            type: number
          Sres:
            description: Todo description | ???
            format: double
            type: number
          Swt:
            description: Todo description | ???
            format: double
            type: number
          ampMag:
            description: Amplitude magnitude for this station | col98 F3.2
            format: float
            type: number
          ampMagWeightCode:
            description: Amplitude magnitude weight code | col82 I1
            type: integer
          ampType:
            description: Amplitude type 0=unspecified 1=Wood-Anderson 2=velocity 3=acceleration
              4=no magnitude | col114 I2
            type: integer
          ampUnitsCode:
            description: Amp units code. 0=PP mm, 1=0 to peak mm (UCB), 2=digital
              counts | col62 I2
            type: integer
          amplitude:
            description: Amplitude (Normally peak-to-peak) | col55 F7.2
            format: float
            type: number
          azm:
            description: Todo description | ???
            format: double
            type: number
          caav:
            items:
              description: Todo description | ???
              example:
              - 0
              - 0
              - 0
              - 0
              - 0
            type: array
          ccntr:
            items:
              description: Todo description | ???
              example:
              - 0
              - 0
              - 0
              - 0
              - 0
            type: array
          codalen:
            description: Todo description | ???
            format: double
            type: number
          codalenObs:
            description: Todo description | ???
            format: double
            type: number
          codawt:
            description: Todo description | ???
            format: double
            type: number
          comp:
            $ref: '#/components/schemas/cha'
          datasrc:
            description: Todo description | ???
            example: W
            type: string
          dist:
            description: Todo description | ???
            format: double
            type: number
          importanceP:
            description: Importance of P arrival | col101 F4.3
            format: float
            type: number
          importanceS:
            description: Importance of S arrival | col105 F4.3
            format: float
            type: number
          latitude:
            $ref: '#/components/schemas/latitude'
          loc:
            $ref: '#/components/schemas/loc'
          longitude:
            $ref: '#/components/schemas/longitude'
          net:
            $ref: '#/components/schemas/net'
          pamp:
            description: Todo description | ???
            format: double
            type: number
          sta:
            $ref: '#/components/schemas/sta'
          takeoff:
            description: Todo description | ???
            format: double
            type: number
        required:
        - net
        - sta
        - comp
        - loc
      type: array
    hypocenter__azim_gap:
      description: Azimutal gap | double
      format: double
      type: number
    hypocenter__e0:
      description: magnitude (km) of largest principal error | double
      format: double
      type: number
    hypocenter__e0_az:
      description: azimuth of largest principal error | double
      format: double
      type: integer
    hypocenter__e0_dip:
      description: dip of largest principal error | double
      format: double
      type: integer
    hypocenter__e1:
      description: magnitude (km) of intermed principal error | double
      format: double
      type: number
    hypocenter__e1_az:
      description: azimuth of intermediate principal error | double
      format: double
      type: integer
    hypocenter__e1_dip:
      description: dip of intermediate principal error | double
      format: double
      type: integer
    hypocenter__e2:
      description: magnitude (km) of smallest principal error | double
      format: double
      type: number
    hypocenter__err_h:
      description: Depth error | double
      format: double
      type: number
    hypocenter__err_z:
      description: Depth error | double
      format: double
      type: number
    hypocenter__nph:
      description: '# phases (P&S) weight >0.1 | int(11)'
      format: int64
      type: integer
    hypocenter__nph_fm:
      description: '# P first motions | int(11)'
      format: int64
      type: integer
    hypocenter__nph_s:
      description: '# S phases weight >0.1 | int(11)'
      format: int64
      type: integer
    hypocenter__nph_tot:
      description: '# phases (P&S) weight >0.0 | int(11)'
      format: int64
      type: integer
    hypocenter__ot:
      description: Origin time | datetime(6)
      example: '2016-06-22 16:52:06.260000'
      type: string
    hypocenter__rms:
      description: Root mean square | double
      format: double
      type: number
    latitude:
      $ref: https://teamdigitale.github.io/openapi/master/definitions.yaml#/schemas/Latitude
    loc:
      default: --
      description: Channel location | char(2)
      example: '00'
      type: string
    longitude:
      format: double
      type: number
    net:
      description: Channel net code | char(2)
      example: IV
      type: string
    sta:
      description: Channel station code | varchar(5)
      example: ACER
      type: string
    type_hypocenter__name:
      description: Localization name (es:01,XX,WW,..) | varchar(255)
      example: ew prelim
      type: string
