openapi: 3.0.0
servers:
  - url: 'https://webservices.ingv.it/fdsnws/event/1'
info:
    title: INGV Earthquake event
    x-summary: The fdsnws-event web service returns event (earthquake) information from catalogs originating from the INGV data center.
    x-logo: http://webservices.ingv.it/ingv_logo_text_two_lines.png

    # Based on http://uuid.xyzio.com/uuid
    x-api-id: 4a4a81b3-f01f-4316-94f1-e150718aed2b
    description: |-


      The **fdsnws-event** API returns event (earthquake) information from the catalogs [ISIDe](http://iside.rm.ingv.it/).

      The results are returnd as XML in [QuakeML](https://quake.ethz.ch/quakeml) format ([schema](https://quake.ethz.ch/quakeml/docs/xml?action=AttachFile&do=get&target=QuakeML-BED-1.2.xsd)), but may also be requested in text formats.


      # Query Usage


      To retrieve data from the event service, submit a request by either of the methods below:

        - _via HTTP GET_: Provide a series of parameter-value pairs in the URL that specify the start-time and end-time, along with the desired network(s) and others param(s). Please refer to the table below titled "Detailed Descriptions of each Query Parameter" for usage details. Each parameter-value pair should be separated by an ampersand **&**, and with no space. A GET request may take the following general form:

      ```

      /query? [geographic-constraints] [depth-constraints] [temporal-constraints] [magnitude-constraints] [format-option]

      ```


      or

      ```

      /query? (id-options) [includeallmagnitudes] [includeallorigins] [includearrivals] [includeallstationsmagnitudes] [format-option]

      ```


      where

      ```

      id-options              ::  eventid= OR originid= OR magnitudeid= OR focalmechanismid=

      geographic-constraints  ::  [boundaries-rect] OR [boundaries-radial]

      boundaries-rect         ::  [minlat=] [maxlat=] [minlon=] [maxlon=]

      boundaries-radial       ::  [lat=&lon=&(maxradius= | maxradiuskm=)] [minradius= | minradiuskm=]

      depth-constraints       ::  [mindepth=] [maxdepth=]

      temporal-constraints    ::  [starttime=] [endtime=]

      magnitude-constraints   ::  [minmag=] [maxmag=] [magnitudetype=]

      misc-parameters         ::  [limit=] [offset=] [orderby=] [includeallmagnitude=]
                                  [includearrivals=] [includeallorigins=] [includeallstationsmagnitudes=]
      format-option           ::  [format=]


        (..) required parameter
        [..] optional parameter
      ```


      # Sample Queries:
        - [http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59](http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59)
        - [http://webservices.ingv.it/fdsnws/event/1/query?starttime=2010-05-29T00:00:00&endtime=2012-05-29T23:59:58&limit=10&offset=2](http://webservices.ingv.it/fdsnws/event/1/query?starttime=2010-05-29T00:00:00&endtime=2012-05-29T23:59:58&limit=10&offset=2)
        - [http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59&format=text](http://webservices.ingv.it/fdsnws/event/1/query?starttime=2012-05-29T00:00:00&endtime=2012-05-29T23:59:59&format=text) (text format)
        - [http://webservices.ingv.it/fdsnws/event/1/query?eventId=841091&includeallmagnitudes=true&includeallorigins=true&includearrivals=true&includeallstationsmagnitudes=true](http://webservices.ingv.it/fdsnws/event/1/query?eventId=841091&includeallmagnitudes=true&includeallorigins=true&includearrivals=true&includeallstationsmagnitudes=true)


       Find out more about FDSN Web Service Specifications http://www.fdsn.org/webservices/
    termsOfService: http://www.fdsn.org/webservices/
    contact:
      name: 'Valentino Lauciani'
      #url: FIXME
      email: valentino.lauciani@ingv.it
    license:
      name: Creative Commons Attribution 4.0 International
      url: http://creativecommons.org/licenses/by/4.0/
    version: 1.1.50
    #x-lifecycle:
    #  maturity: FIXME
x-commons:
    common_responses: &common_responses
      '400':
        $ref: '#/components/responses/400BadRequest'
      '404':
        $ref: '#/components/responses/404NotFound'      
      '429':
        $ref: '#/components/responses/429TooManyRequests'
      '503':
        $ref: '#/components/responses/503ServiceUnavailable'

    common_contents: &common_content
      application/xml:
        schema:
          $ref: "#/components/schemas/ErrorResponse"
      text/plain:
        schema:
          $ref: "#/components/schemas/ErrorResponse"
paths:
    /query:
      get:
        tags:
          - fdsnws-event-1.1
        summary: Get QuakeML
        description: Returns a QuakeML message with the following schema
          https://quake.ethz.ch/quakeml/
        parameters:
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/starttime'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/endtime'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/minlat'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/maxlat'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/minlon'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/maxlon'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/lat'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/lon'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/minradius'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/maxradius'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/minradiuskm'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/maxradiuskm'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/mindepth'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/maxdepth'
          - $ref: '#/components/parameters/orderby'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/limit'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/offset'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/updatedafter'
          - $ref: '#/components/parameters/format'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/eventid'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/includeallorigins'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/includeallmagnitudes'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/includeallstationsmagnitudes'
          - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/includearrivals'
        responses:
          '200':
            description: Successful request, results follow
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/X-RateLimit-Limit'
              X-RateLimit-Remaining:
                $ref: '#/components/headers/X-RateLimit-Remaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/X-RateLimit-Reset'
            content:
              application/xml:
                schema:
                  $ref: "#/components/schemas/QuakeMLResponse"
              text/plain:
                schema:
                  $ref: "#/components/schemas/QuakeMLResponse"
          '204':
              $ref: '#/components/responses/204NoContent'
          '400':
            $ref: '#/components/responses/400BadRequest'
          # for 401, 403 see the following post before adding the,
          #  https://forum.italia.it/t/quali-status-code-indicare-nelle-specifiche-dellapi/6474
          '404':
            $ref: '#/components/responses/404NotFound'
          '429':
            $ref: '#/components/responses/429TooManyRequests'
          '503':
            $ref: '#/components/responses/503ServiceUnavailable'
          default:
            $ref: '#/components/responses/default'

    /version:
      get:
        tags:
          - fdsnws-event-1.1
        summary: Get QuakeML version
        description: Returns a string containing QuakeML version
        responses:
          '200':
            description: Successful request, results follow
            content:
              text/plain:
                schema:
                  $ref: "#/components/schemas/VersionResponse"
    /application.wadl:
      get:
        tags:
          - fdsnws-event-1.1
        summary: Get application.wadl
        description: Returns application.wadl file content
        responses:
          #<<: *common_responses
          '200':
            description: Successful request, results follow
            content:
              application/xml:
                schema:
                  type: object
                  additionalProperties:
                    type: integer
                    format: int32
tags:
    - name: fdsnws-event-1.1
      description: ""
      externalDocs:
        description: Find out more
        url: https://quake.ethz.ch/quakeml/
servers:
    - url: http://webservices.ingv.it/fdsnws/event/1
      description: Production

components:
    parameters:
        orderby:
            name: orderby
            in: query
            description: Is used to order the output.
            required: false
            schema:
                type: string
                items:
                  type: string
                enum:
                    - time
                    - time-asc
                    - magnitude
                    - magnitude-asc
                default: time
        format:
            name: format
            in: query
            description: Specify output format.
            required: false
            schema:
                type: string
                items:
                  type: string
                enum:
                    - xml
                    - text
                default: xml
          
#    starttime:
#      $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/starttime'
        
    headers:
        X-RateLimit-Limit:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/headers/X-RateLimit-Reset'
        Retry-After:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/headers/Retry-After'

    responses:
        204NoContent:
          description: Request was properly formatted and submitted but no data matches the selection
          headers:
            X-RateLimit-Limit:
                $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
                $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
                $ref: '#/components/headers/X-RateLimit-Reset'
        400BadRequest:
          #$ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/400BadRequest'      
            content:
                text/plain:
                    schema:
                        $ref: "#/components/schemas/ErrorResponse"
            description: Bad Request
        404NotFound:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/404NotFound'
        429TooManyRequests:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/429TooManyRequests'
        503ServiceUnavailable:
          #$ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/503ServiceUnavailable'
            content:
                text/plain:
                    schema:
                        $ref: "#/components/schemas/ErrorResponse"
            description: Service Unavailable
            headers:
                Retry-After:
                    $ref: '#/components/headers/Retry-After'
        default:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/default'

    schemas:
        QuakeMLResponse:
            xml:
              namespace: https://quake.ethz.ch/quakeml/
        VersionResponse:
            type: string
            example: 1.1.50
        ErrorResponse:
            type: string
            example: "Error CODE: SIMPLE ERROR DESCRIPTION ..."
