openapi: 3.0.0
servers:
  - url: http://webservices.ingv.it/ingvws/shakedata/1
info:
  title: INGV Shakedata 
  x-summary: The ingvws-shakedata web service returns Intensity Measure (IM).
  x-logo: http://webservices.ingv.it/ingv_logo_text_two_lines.png  
  description: |-
    

    This web service have been designed to retrieve Intensity Measure (IM) parameters based on eventId.


    # Query Usage


    To retrieve data from the shakedata web service, submit a request by the methods below:

    ```

    /query? (eventid) (format) [catalog]

    ```


    where

    ```

    eventid (required)   ::  Select a specific event by ID.
                                
    catalog               ::  Select a catalog for the specified 'eventid'; available catalogs are:
                                - ESM: reviewed data from 'Engineering Strong-Motion database (ESM) - http://esm.mi.ingv.it'
                                - ONT: automatic data from Real-Time waveforms received to INGV
                                - INGV (default): union of ESM and ONT data with priority to ESM
    format (required)     ::  Specify output format for USGS ShakeMap program input; available output are:
                                - event
                                - event_dat
    flag                  ::  Include problematic data. Valid values are: 
                                - 0 (default): problematic data are not included
                                - all: problematic data are included and marked with flag="1" in 'event_dat' output
    ```



    # Sample Queries:
      - [http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event](http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event)
      - [http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event_dat](http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event_dat)
      - [http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event_dat&catalog=INGV](http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event_dat&catalog=INGV)
      - [http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event_dat&catalog=ESM](http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event_dat&catalog=ESM)
      - [http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event_dat&catalog=ONT](http://webservices.ingv.it/ingvws/shakedata/1/query?eventid=12697591&format=event_dat&catalog=ONT)
      
    # Rate limit:
      The **Rate Limit** and **Rate Reset** are specified in the HTTP-header with `X-RateLimit-Limit` and `X-RateLimit-Reset`; the rate limit is *per* `IP`.
      
  contact:
    name: 'Valentino Lauciani'
    email: valentino.lauciani@ingv.it
  license:
    name: Creative Commons Attribution 4.0 International
    url: http://creativecommons.org/licenses/by/4.0/
  version: 1.41.0
  
x-commons:
    common_responses: &common_responses
      '400':
        $ref: '#/components/responses/400BadRequest'
      '404':
        $ref: '#/components/responses/404NotFound'      
      '429':
        $ref: '#/components/responses/429TooManyRequests'
      '503':
        $ref: '#/components/responses/503ServiceUnavailable'

    common_contents: &common_content
      application/xml:
        schema:
          $ref: "#/components/schemas/ErrorResponse"
      text/plain:
        schema:
          $ref: "#/components/schemas/ErrorResponse"
          
paths:
  /query:
    get:
      tags:
        - shakedata
      summary: Get ShakeMap XML format
      description: Returns a XML message with the ShakeMap schema
      parameters:
        - $ref: 'https://ingv.github.io/openapi/definitions.yaml#/parameters/eventid__required'
        - $ref: '#/components/parameters/catalog'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/flag'
      responses:
        '200':
            description: Successful request, results follow
            headers:
              X-RateLimit-Limit:
                $ref: '#/components/headers/X-RateLimit-Limit'
              #X-RateLimit-Remaining:
              #  $ref: '#/components/headers/X-RateLimit-Remaining'
              X-RateLimit-Reset:
                $ref: '#/components/headers/X-RateLimit-Reset'
            content:
                application/xml:
                    schema:
                        $ref: "#/components/schemas/StationXMLResponse"
        '204':
            $ref: '#/components/responses/204NoContent'
        '400':
            $ref: '#/components/responses/400BadRequest'
          # for 401, 403 see the following post before adding the,
          #  https://forum.italia.it/t/quali-status-code-indicare-nelle-specifiche-dellapi/6474
        '404':
            $ref: '#/components/responses/404NotFound'
        '429':
            $ref: '#/components/responses/429TooManyRequests'
        '503':
            $ref: '#/components/responses/503ServiceUnavailable'
        default:
            $ref: '#/components/responses/default'
            
  /version:
    get:
      tags:
        - shakedata
      summary: Get StationXML version
      description: Returns a string containing StationXML version
      responses:
        "200":
          description: successful operation
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/VersionResponse"
tags:
  - name: shakedata
    description: ""
    externalDocs:
      description: Find out more
      url: http://www.fdsn.org/xml/station/

components:
    parameters:
        catalog:
            name: catalog
            in: query
            description: Limit catalog for the specified 'eventid'
            required: false
            schema:
              type: string
              items:
                type: string
              enum:
                - INGV
                - ESM
                - ONT
              default: INGV
        format:
            name: format
            in: query
            description: Specify output format for USGS ShakeMap program input
            required: true
            schema:
              type: string
              items:
                type: string
              enum:
                - event
                - event_dat
              default: event_dat
        flag:
            name: flag
            in: query
            description: Specify problematic data
            required: false
            schema:
              type: string
              items:
                type: string
              enum:
                - 0
                - 1
                - all
              default: 0
              
    headers:
        X-RateLimit-Limit:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/headers/X-RateLimit-Limit'
        #X-RateLimit-Remaining:
        #    $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/headers/X-RateLimit-Reset'
        Retry-After:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/headers/Retry-After'

    responses:
        204NoContent:
          description: Request was properly formatted and submitted but no data matches the selection
          headers:
            X-RateLimit-Limit:
                $ref: '#/components/headers/X-RateLimit-Limit'
            #X-RateLimit-Remaining:
            #    $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
                $ref: '#/components/headers/X-RateLimit-Reset'
        400BadRequest:
            #$ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/400BadRequest'      
            content:
                text/plain:
                    schema:
                        $ref: "#/components/schemas/ErrorResponse"
            description: Bad Request
        404NotFound:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/404NotFound'
        429TooManyRequests:
            #$ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/429TooManyRequests'
            description: Too many requests
            headers:
              X-RateLimit-Limit:
                  $ref: '#/components/headers/X-RateLimit-Limit'
              #X-RateLimit-Remaining:
              #    $ref: '#/components/headers/X-RateLimit-Remaining'
              X-RateLimit-Reset:
                  $ref: '#/components/headers/X-RateLimit-Reset'
        503ServiceUnavailable:
          #$ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/503ServiceUnavailable'
            content:
                text/plain:
                    schema:
                        $ref: "#/components/schemas/ErrorResponse"
            description: Service Unavailable
            headers:
                Retry-After:
                    $ref: '#/components/headers/Retry-After'
        default:
            $ref: 'https://teamdigitale.github.io/openapi/0.0.5/definitions.yaml#/responses/default'

    schemas:
        StationXMLResponse:
            xml:
                namespace: http://www.fdsn.org/xml/station/1
        MessageResponse:
            type: object
            properties:
                message:
                    type: string
        VersionResponse:
            type: string
            example: 1.41.0
        ErrorResponse:
            type: string
            example: "Error CODE: SIMPLE ERROR DESCRIPTION ..."
     